services:
  redis:
    image: redis:latest
    container_name: redis_database
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  mongodb:
    image: mongodb/mongodb-community-server:latest
    container_name: mongo_database
    restart: always
    ports:
      - "27017:27017"
    env_file:
      - ".env"
    volumes:
      - mongo_volume:/data/db
  api:
    build: .
    ports:
      - "8000:8000"
    restart: "on-failure"
    env_file:
      - ".env"
    environment:
      MONGODB_HOST: "mongodb"
      REDIS_HOST: "redis"
    develop:
      watch:
        - action: sync
          path: .
          target: /api

volumes:
  redis_data:
  mongo_volume:
